<header class="font-display header-gradient">
  <nav
    class="flex justify-between items-center backdrop-blur-xl mx-auto p-6 lg:px-8 max-w-7xl"
  >
    <div class="inline-flex">
      <a routerLink="/" class="flex items-center gap-1 -m-1.5 p-1.5">
        <img class="w-auto h-8" src="logo.svg" />
        <span class="font-semibold text-xl">NgOne</span>
      </a>
    </div>

    <div class="">
      <ul class="inline-flex items-center gap-6" role="list">
        <li>
          <a role="button" routerLink="" class="nav-link">Products</a>
        </li>
        <li>
          <a role="button" routerLink="" class="nav-link">Services</a>
        </li>
        <li>
          <a role="button" routerLink="" class="nav-link">Contact Us</a>
        </li>
      </ul>
    </div>

    <a
      routerLink="/login"
      class="inline-flex justify-center items-center gap-1 bg-blue-600 hover:bg-blue-700 text-white"
      role="button"
    >
      Sign in
      <span class="material-symbols-outlined icon-size-20 text-xs">
        arrow_forward
      </span>
    </a>
  </nav>
</header>
